body {
	font-family: 'Montserrat', sans-serif;
	/*acima estamos usando fontes externas do google fonts*/
	/* essa fonte ficara no site inteiro*/
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	/* o . ponto conecta o css a uma classe no html*/
	/*configuração do input e textarea*/
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	/*configuração do botão enviar*/
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover{
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	/*O 2em significa que a fonte do titulo principal
	sempre vai ser o dobro da fonte base que está sendo utilizada*/
	margin: 0 0 1em;
	clear: left;
	/*limpa a configuração do foat*/
}

.titulo-principal:first-letter {
	font-weight: bold;
	/*Colocamos a primeirra letra em negrito*/
}

/*p:first-line{
	font-style: italic;
}
aqui você pode deixar a primeira linha em itálico
*/
.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.utensilios{
	width: 120px;
	float: left;
	/* o float vai fazer o texto ficar em volta do elemento utensilios*/
	margin: 0 20px 20px 0;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE ,#888888);
	/*O linear-gradiente faz o gradiente entre duas cores*/
	/*O radio-gradiente faz o gradiente em circulos*/
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
	/*line hight corresponde a altura da linha*/
	/*no caso 1.5 corresponde ao temanho da fonte mais 50%*/
}

/* .itens:first-child {
	font-weight: bold;
	/*Primeira criança ou primeiro irmão vai ser em negrito*/
	/*Para a ultima criança usa-se last-child*/
	/*Para a um elemento da lista usa se nth-child(4), no caso 4  e o numero do elemento*/
	/*nth-child(2n) o 2n pega todos os elementos pares*/

.itens:before {
    content: "★";
}

.imagem-beneficios {
    width: 60%
    opacity: 0.3;/*opacidade 30%*/
    transition: 400ms;/*transição de 400 milisegundos*/
	box-shadow: 10px 10px 10px 0 #000000;/* x y sombra com transparencia e cor, desloca a sombra*/
}

.imagem-beneficios:hover {
	opacity: 1;/*opacidade 100%*/
}

.video {
	width: 560px;
	margin: 2em auto;
}